- type: job
  id: PlatoonCommander
  name: job-name-platoon-commander
  description: job-description-platoon-commander
  playTimeTracker: JobPlatoonCommander
  requirements:            # First Playtest time
  - !type:DepartmentTimeRequirement
    department: Combat
    time: 7200 #2 hrs       
#  - !type:DepartmentTimeRequirement
#    department: Combat
#    time: 72000 #20 hrs
#  - !type:DepartmentTimeRequirement
#    department: Medical
#    time: 7200 #2 hrs
#  - !type:DepartmentTimeRequirement
#    department: Engineering
#    time: 7200 #2 hrs
  startingGear: PlatoonCommanderGear
  icon: "JobIconPlatoonCommander"
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - Security
  - Brig
  - Maintenance
  - External
  - Armory
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]

- type: startingGear
  id: PlatoonCommanderGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitOperative
    shoes: ClothingShoesBootsCombat
    id: SecurityIDCard
    ears: ClothingHeadsetSecurity
    neck: ClothingNeckIDMarksPlatoonCommander
