- type: job
  id: PlatoonCommander
  name: job-name-platoon-commander
  description: job-description-platoon-commander
  playTimeTracker: JobPlatoonCommander
  requirements:            # First Playtest time
  - !type:DepartmentTimeRequirement
    department: Marine
    time: 7200 #2 hrs
#  - !type:DepartmentTimeRequirement
#    department: Marine
#    time: 72000 #20 hrs
#  - !type:DepartmentTimeRequirement
#    department: Medical
#    time: 7200 #2 hrs
#  - !type:DepartmentTimeRequirement
#    department: Engineering
#    time: 7200 #2 hrs
  weight: 5
  startingGear: PlatoonCommanderGear
  icon: "JobIconPlatoonCommander"
  supervisors: job-supervisors-company
  canBeAntag: false
  access:
  - Maintenance
  - External
  - Armory
  - Marine
  - PlatoonCommander
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]

- type: startingGear
  id: PlatoonCommanderGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitOperative
    shoes: ClothingShoesBootsCombat
    id: PlatoonCommanderIDCard
    ears: ClothingHeadsetSecurity

